In [ ]:
# assignment url
# https://drive.google.com/file/d/1ISetIhHbrX2_s8aUe5V0yMI4NwzBA32q/view

In [6]:
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize

In [3]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

### 2 and 3 no solve

In [29]:
df['From'] = df['From_To'].str.split('_').str[0].str.capitalize()
df['To'] = df['From_To'].str.split('_').str[1].str.capitalize()
df1 = df.drop(['From_To'], axis=1)
df1

   FlightNumber  RecentDelays              Airline      From         To
0       10045.0      [23, 47]               KLM(!)    London      Paris
1           NaN            []    <Air France> (12)    Madrid      Milan
2       10065.0  [24, 43, 87]  (British Airways. )    London  Stockholm
3           NaN          [13]       12. Air France  Budapest      Paris
4       10085.0      [67, 32]          "Swiss Air"  Brussels     London

In [14]:
# df3 = df.drop(['Airline'], axis=1)
# df3

In [32]:
#df2 = json_normalize(df, record_path='RecentDelays')
'aa'

'aa'